extends layout

block content
  script.
    var f=!{JSON.stringify(c)};
    var i=[];
  h1#header Companies In US States
  p.header-paragraph 1-#{c.length} of #{c.length} Companies
  table
      tr
        th
          p(style=' margin-left: 0px; border-left: 0px;') Company Name
        th
          p Industry
        th
          p Location
        th(style='width: 120px;')
          p Revenue
        th(style='width: 120px;')
          p Employees
      tr(height='20px')
      -var x
      include ../public/javascripts/less-more.pug
      -for (x in c){
      tr
        td.icon
          .div
             img(src=c[x].companyLogo, width= '45px',style=' max-height=45px;')
          .div(style='padding-left:10px;')
             a(style='font-weight: 550; display:block;') #{c[x].companyName}
             a(style='display:block;') #{c[x].companyDomain}
        td

           span.demo1
           span.demo2(hidden='')
           span.less(style= 'color: #1d8bea;')
        script.
            var x = #{x}
            i[x]=1;
            function myFunction() {
                var y = f[x].topLevelIndustry.length;
                var z = f[x].topLevelIndustry.join().length + y;
                var a = f[x].topLevelIndustry;
                var b = "";
                while (z > 65) {
                    a = f[x].topLevelIndustry.slice(0, y - i[x]);
                    b = f[x].topLevelIndustry.slice(y - i[x], y);
                    z = a.join().length + (y-i[x]);
                    i[x]++;
                }
                var atext='', btext='', aLen, bLen, j;
                aLen = a.length;
                bLen = b.length;
                for (j = 0; j < aLen; j++) {
                    atext += "<a>" + a[j] + ", </a>";
                }
                atext = atext.slice(0, -6);
                atext += "</a>";
                var d = "&nbsp;|&nbsp;" + (i[x]-1) + "&nbsp;More";
                var m = document.getElementsByClassName("demo1");
                m[x].innerHTML = atext;
                if (b) {
                    for (j = 0; j < bLen; j++) {
                        btext += "<a>" + b[j] + ", </a>";
                    }
                    btext = btext.slice(0, -6);
                    btext += "</a>";
                    var n = document.getElementsByClassName("demo2");
                    n[x].innerHTML = btext;
                    var l = document.getElementsByClassName("less");
                    l[x].innerHTML = d;
                }
            }
            myFunction()
        td
          p(style='display: inline; color: #6e6e6e;') #{c[x].location.CountryCode}
          span ,&nbsp;
          a(style='display: inline;') #{c[x].location.State}
          span ,&nbsp;
          a(style='display: inline;') #{c[x].location.City}
        td
          p(style='color: #6e6e6e;') #{e[x]}
        td
          a  #{d[x]}

      -}

