extends layout

block content
  script.
    var f=!{JSON.stringify(c)};
    var i = [];
  h1#header Companies In US States
  p.header-paragraph 1-#{c.length} of #{c.length} Companies
  table
      tr
        th
          p(style=' margin-left: 0px; border-left: 0px;') Company Name
        th
          p Industry
        th
          p Location
        th(style='width: 120px;')
          p Revenue
        th(style='width: 120px;')
          p Employees
      tr(height='20px')
      -var x
      include ../public/javascripts/less-more.pug
      -for (x in c){
      tr
        td.icon
          .div
             img(src=c[x].companyLogo, width= '45px',style=' max-height=45px;')
          .div(style='padding-left:10px;')
             a(style='font-weight: 550') #{c[x].companyName}
             a #{c[x].companyDomain}
        td
          span.demo1
          span.demo2(hidden='')
          span.less(style= 'color: #1d8bea;')
        script.
            var x = #{x}

            i[x]=1;
            function myFunction() {
                var y = f[x].topLevelIndustry.length;
                var z = f[x].topLevelIndustry.join().length;
                var a = f[x].topLevelIndustry;
                var b = "";
                while (z > 65) {
                    a = f[x].topLevelIndustry.slice(0, y - i[x]);
                    b = f[x].topLevelIndustry.slice(y - i[x], y);
                    z = a.join().length;
                    i[x]++;
                }
                var d = "&nbsp|&nbsp" + (i[x]-1) + " More";
                var m = document.getElementsByClassName("demo1");
                m[x].innerHTML = a;
                if (b) {
                    var n = document.getElementsByClassName("demo2");
                    n[x].innerHTML = ', ' +b;
                    var l = document.getElementsByClassName("less");
                    l[x].innerHTML = d;
                }
            }
            myFunction()
        td
          p(style='display: inline; color: #6e6e6e;') #{c[x].location.CountryCode},
          a(style='display: inline;') #{c[x].location.State},
          a(style='display: inline;') #{c[x].location.City}
        td
          p(style='color: #6e6e6e;') #{e[x]}
        td
          a  #{d[x]}

      -}

