extends layout

block content

  script.
    var f=!{JSON.stringify(c)};
    var i=[];
  h1#header Companies In US States
  p.header-paragraph 1-#{c.length} of #{c.length} Companies

  table
      tr
        th(style='width: 25%;')
          p(style=' margin-left: 0px; border-left: 0px;') Company Name
        th(style='width: 26%;')
          p Industry
        th(style='width: 25%;')
          p Location
        th(style='width: 12%;')
          p Revenue
        th(style='width: 12%;')
          p Employees
      tr(height='20px')
      -var x
      include ../public/javascripts/less-more.pug
      -for (x in c){
      tr
        td.icon
          .div
             img(src=c[x].companyLogo, width= '45px',style=' max-height=45px;')
          .div(style='padding-left:10px;')
             a(style='font-weight: 550; display:block;')=c[x].companyName
             a(style='display:block;')=c[x].companyDomain
        td

           span.demo1
           span.demo2(hidden='')
           span.less(style= 'color: #1d8bea;')
        include ../public/javascripts/slice
        td
          p(style='display: inline; color: #6e6e6e;') #{c[x].location.CountryCode}
          span ,&nbsp;
          a(style='display: inline;') #{c[x].location.State}
          span ,&nbsp;
          a(style='display: inline;') #{c[x].location.City}
        td
          p(style='color: #6e6e6e;') #{e[x]}
        td
          a  #{d[x]}

      -}

